.bottom{
   width:90%;
   height:10rem;
   margin-inline: auto;
   background-color:var(--neutral-dark-blue);
   border-radius: 2%;
   color:var(--neutral-grayish-blue);
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   position:relative;
   padding:2rem 0;
}

@media (min-width:900px){
   .bottom{
      width:50%;
   }
}
.bottom >:nth-of-type(1){
   font-size:0.9rem;
   margin:1rem;
}

.outside{
   background-color: var(--neutral-pale-blue);
   font-weight:500;
   width:50%;
   display: flex;
   align-items: center;
   position: absolute ;
   gap:0.2rem;
   bottom:-30%;
   padding:0.5rem;
   border-radius:10px;
}

@media (min-width:900px){
   .outside{
      width:30%;
      padding:0.4rem;
      border-radius:50px;
      border-radius:0;
      border-right:20px solid var(--neutral-pale-blue);
      border-bottom:20px solid var(--neutral-dark-blue);
      top:-30%;
      right:0;
      bottom:auto;
   }
}
.outside span{
   font-size:3rem;
}

.progressbar{
   width:80%;
   height:1rem;
   background-color: var(--neutral-very-dark-blue);
   border-radius: 30px;
   display:flex;
   align-items:center;
}

.progress{
   margin-left:0.2rem;
   width:70%;
   height:80%;
   border-radius: 30px;
   background: linear-gradient( 
   hsl(6, 100%, 80%),
   hsl(335, 100%, 65%)
   );
   padding:0.1rem;
   position:relative;
}

.circle{
   width:0.6rem;
   height:0.6rem;
   border-radius: 50%;
   background-color: #FBFBFF;
   position:absolute;
   right:1%;
}
.limit{
   margin:0.5rem;
}
.limit > span{
   position: absolute ;
}

.limit > :first-child{
   left:10%;
}

.limit > :last-child{
   right:10%;
}