.top{
   width:90%;
   height:10rem;
   border-radius:2% 7rem 2% 2%;
   display:flex;
   margin-inline:auto;
   justify-content: center;
   flex-direction: column;
   padding:3rem;
}

@media (min-width:900px){
   .top{
      width:30%;
   }
}

.top> :first-child{
   margin:1rem;
   margin-left:0;
   align-self: flex-start;
}
.top > :last-child{
   display: flex;
   gap:1rem;
}

.icon{
   /* border:1px solid red; */
   background-color: var(--neutral-very-dark-blue);
   padding:0.5rem;
   border-radius: 20%;
}

.icon img{
   width:2rem;
   height: 2rem;
   object-fit: contain;
}